<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Date picker</title>



<style>
  .kdp-date-today{
    background: blue;
  }
  .kdp-date-start{
    background: green;
  }
  .kdp-date-end{
    background: purple;
  }
  .kdp-date-disabled{
    background: red;
  }
</style>

</head>
<body>
  <div ng-app='app'>
    <div ng-controller='mehController' >

      <h2>options</h2>
      <ul>
        <li>
          <input type="date" ng-model='initDate'>
          <strong>initDate</strong> if you want to load a different date to today as current - accepts a Date object
        </li>
        <li>
          <input type="date" ng-model='minDate'>
          <strong>min</strong> minimum/earliest date that you can select (all dates earlier are disabled) - accepts a Date object
        </li>
        <li>
          <input type="date" ng-model='maxDate'>
          <strong>max</strong> maximum/latest date that can be selected - accepts a js Date object
        </li>
        <li>
          <input type="radio" name="range" ng-click="toggleRange(true)" ng-checked='range'> True
          <input type="radio" name="range" ng-click="toggleRange(false)" ng-checked='!range'> False
          <strong>range</strong> boolean - select both a start and finish date {{range}}
        </li>
        <li>
          <input type="number" ng-model='rangeShown'>
          <strong>range-shown</strong> how many calendar months to show at a time
        </li>
      </ul>

      <date-picker init-date=initDate min=minDate max=maxDate range-shown=rangeShown range=range />

    </div>
  </div>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script src="/library/vendor/scripts/dateparser/DateParser.js" type="text/javascript"></script>
<script src='/src/scripts/app.js'></script>
<script src='/src/scripts/ng-accessible-datepicker.js'></script>


</body>
</html>